<h1>Editing northeastern</h1>

<%= render "form", northeastern: @northeastern %>

<br>

<div>
  <%= link_to "Show this northeastern", @northeastern %> |
  <%= link_to "Back to northeasterns", northeasterns_path %>
</div>
