<h1>Editing southrift</h1>

<%= render "form", southrift: @southrift %>

<br>

<div>
  <%= link_to "Show this southrift", @southrift %> |
  <%= link_to "Back to southrifts", southrifts_path %>
</div>
