<h1>Editing patrolleaderscourse</h1>

<%= render "form", patrolleaderscourse: @patrolleaderscourse %>

<br>

<div>
  <%= link_to "Show this patrolleaderscourse", @patrolleaderscourse %> |
  <%= link_to "Back to patrolleaderscourses", patrolleaderscourses_path %>
</div>
