<h1>Editing lowereastern</h1>

<%= render "form", lowereastern: @lowereastern %>

<br>

<div>
  <%= link_to "Show this lowereastern", @lowereastern %> |
  <%= link_to "Back to lowereasterns", lowereasterns_path %>
</div>
