<%= form_with(model: nairobi) do |form| %>
  <% if nairobi.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(nairobi.errors.count, "error") %> prohibited this nairobi from being saved:</h2>

      <ul>
        <% nairobi.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
