<footer class="position-footer-sm">
  <div class="top-section">
    <div class="row left-padding-sm">
      <div class="section-spacing col-12 col-md-6 col-lg-3">
        <h4>Mission & Vision</h4>
        <p>To Provide Detailed Information On Youth<br> Programs Across The Country.</p>
      </div>
      <div class="section-spacing col-12 col-md-6 col-lg-3">
        <h4>Main Menu</h4>
        <h5 class="links">
          <ol>
            <li><a href="#" class="footer-link">How it works</a></li>
            <li><a href="#" class="footer-link">FAQs</a></li>
            <li><a href="#" class="footer-link">News & Updates</a></li>
          </ol>
        </h5>
      </div>
      <div class="section-spacing col-12 col-md-6 col-lg-3">
        <h4>Quick Links</h4>
        <h5 class="links">
          <ol>
            <li><a href="#" class="footer-link">About Us</a></li>
            <li><a href="#" class="footer-link">Our Services</a></li>
            <li><a href="#" class="footer-link">Contact Us</a></li>
          </ol>
        </h5>
      </div>
      <div class="section-spacing col-12 col-md-6 col-lg-3">
        <a href="/" class="footer-logo-link" title="Go To Home"><span class="footer-logo"></span></a>
        <h5 class="bottom-info"></h5>
      </div>
    </div>
  </div>
  <div class="bottom-section">
    <div>
      <p class="bt-spacing">2022 All rights reserved || YouthProgram</p>
    </div>
  </div>
</footer>
