<%= form_with(model: nyanza) do |form| %>
  <% if nyanza.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(nyanza.errors.count, "error") %> prohibited this nyanza from being saved:</h2>

      <ul>
        <% nyanza.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
