<section style="min-height: calc(90vh - 40px);padding: 180px 40px 100px 40px;">
  <div style="background-color: rgba(174, 182, 191, 0.4);border-radius: 10px;width: 95%;margin: auto;padding: 20px;">
    <div style="padding: 10px;">
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: build_alert_classes(type) %>
      <% end %>
    </div>

    <div style="padding: 0 40px 40px 40px;">
      <h3>REGIONS</h3>
      <div class="row">
        <div class="col home-widget bottom-margin" type="button" onclick="location.href='/coasts'">
          <h1>Coast</h1>
        <i class="fa-solid fa-location-dot"></i>
        </div>
        <div class="col home-widget bottom-margin" type="button" onclick="location.href='#'">
          <h1>North Eastern</h1>
        <i class="fa-solid fa-location-dot"></i>
        </div>
        <div class="col home-widget bottom-margin" type="button" onclick="location.href='#'">
          <h1>Upper Eastern</h1>
        <i class="fa-solid fa-location-dot"></i>
        </div>
      </div>
      <div class="row">
        <div class="col home-widget bottom-margin" type="button" onclick="location.href='#'">
          <h1>Lower Eastern</h1>
        <i class="fa-solid fa-location-dot"></i>
        </div>
        <div class="col home-widget bottom-margin" type="button" onclick="location.href='#'">
          <h1>Central</h1>
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <div class="col home-widget bottom-margin" type="button" onclick="location.href='#'">
          <h1>North Rift</h1>
        <i class="fa-solid fa-location-dot"></i>
        </div>
      </div>
      <div class="row">
        <div class="col home-widget bottom-margin" type="button" onclick="location.href='#'">
          <h1>South Rift</h1>
        <i class="fa-solid fa-location-dot"></i>
        </div>
        <div class="col home-widget bottom-margin" type="button" onclick="location.href='#'">
          <h1>Western</h1>
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <div class="col home-widget bottom-margin" type="button" onclick="location.href='#'">
          <h1>Nyanza</h1>
        <i class="fa-solid fa-location-dot"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-12 home-widget bottom-margin" type="button" onclick="location.href='#'">
          <h1>Nairobi</h1>
        <i class="fa-solid fa-location-dot"></i>
        </div>
      </div>
    </div>
  </div>
</section>
