<h1>Editing packholiday</h1>

<%= render "form", packholiday: @packholiday %>

<br>

<div>
  <%= link_to "Show this packholiday", @packholiday %> |
  <%= link_to "Back to packholidays", packholidays_path %>
</div>
