<h1>Editing northrift</h1>

<%= render "form", northrift: @northrift %>

<br>

<div>
  <%= link_to "Show this northrift", @northrift %> |
  <%= link_to "Back to northrifts", northrifts_path %>
</div>
