<%= form_with(model: uppereastern) do |form| %>
  <% if uppereastern.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(uppereastern.errors.count, "error") %> prohibited this uppereastern from being saved:</h2>

      <ul>
        <% uppereastern.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
