<h1>Editing uppereastern</h1>

<%= render "form", uppereastern: @uppereastern %>

<br>

<div>
  <%= link_to "Show this uppereastern", @uppereastern %> |
  <%= link_to "Back to uppereasterns", uppereasterns_path %>
</div>
