.home-widget {
  background-color: #EBF5FB;
  margin-right: 20px;
  border-radius: 8px;
  min-height: calc(30vh - 10px);
  text-align: center;
  padding: 20px 0 20px 0;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.home-widget:hover {
  box-shadow: 0 10px 20px rgb(0 0 0 / 0.2);;
}

.home-widget h1 {
  font-size: 1.7rem;
  padding-bottom: 20px;
  border-bottom: 4px solid #b3b6b7;
}

.home-widget i {
  font-size: 3.8rem;
  padding: 20px 0 20px 0;
  color: #2e86c1;
}

.bottom-margin {
  margin-top: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #85929E;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #ECF0F1;
}

.record-button1 {
  border: 4px solid #641E16;
  color: #641E16;
  padding: 10px 40px 10px 40px;
  font-size: 15px;
  font-weight: bold;
  width: 200px;
  text-align: center;
  text-decoration: none;
}

.record-button1:hover {
  background-color: #641E16;
  color: #ECF0F1;
}

.record-button2 {
  border: 4px solid #641E16;
  color: #ECF0F1;
  padding: 10px 40px 10px 40px;
  font-size: 15px;
  font-weight: bold;
  width: 200px;
  text-align: center;
  text-decoration: none;
  margin: 20px 0 0 20px;
  background-color: #641E16;
}

.record-button2:hover {
  color: #641E16;
  background-color: transparent;
}
