.home-widget {
  background-color: #EBF5FB;
  margin-right: 20px;
  border-radius: 8px;
  min-height: calc(30vh - 10px);
  text-align: center;
  padding: 20px 0 20px 0;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.home-widget:hover {
  box-shadow: 0 10px 20px rgb(0 0 0 / 0.2);;
}

.home-widget h1 {
  font-size: 1.7rem;
  padding-bottom: 20px;
  border-bottom: 4px solid #b3b6b7;
}

.home-widget i {
  font-size: 3.8rem;
  padding: 20px 0 20px 0;
  color: #2e86c1;
}

.bottom-margin {
  margin-top: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
