<div class="limiter">
  <div class="container-login100" style="padding-top: 160px;padding-bottom: 60px;">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(/assets/login-image.png);">
        <span class="login100-form-title-1">
          <b>Add New Record</b>
        </span>
      </div>

      <div style="padding: 10px;">
        <% flash.each do |type, msg| %>
          <%= content_tag :div, msg, class: build_alert_classes(type) %>
        <% end %>
      </div>

      <form class="login100-form validate-form" action="/kwale" method="post">
        <div class="wrap-input100 validate-input m-b-26" data-validate="Email is required" style="margin-bottom: 20px !important;">
          <span class="label-input100">Sub County</span>
          <input class="input100" type="text" name="kwale[sub_county]" placeholder="Sub County" autofocus="autofocus" autocomplete="off">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-26" data-validate="Sungura is required" style="margin-bottom: 20px !important;">
          <span class="label-input100">Sungura</span>
          <input class="input100" type="number" name="kwale[investiture_sungura]" placeholder="Investiture Sungura" autofocus="autofocus" autocomplete="off">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-26" data-validate="Chipukizi is required" style="margin-bottom: 20px !important;">
          <span class="label-input100">Chipukizi</span>
          <input class="input100" type="number" name="kwale[investiture_chipukizi]" placeholder="Investiture Chipukizi" autofocus="autofocus" autocomplete="off">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-26" data-validate="Mwamba is required" style="margin-bottom: 20px !important;">
          <span class="label-input100">Mwamba</span>
          <input class="input100" type="number" name="kwale[investiture_mwamba]" placeholder="Investiture Mwamba" autofocus="autofocus" autocomplete="off">
          <span class="focus-input100"></span>
        </div>


        <div class="wrap-input100 validate-input m-b-26" data-validate="Jasiri is required" style="margin-bottom: 20px !important;">
          <span class="label-input100">Jasiri</span>
          <input class="input100" type="number" name="kwale[investiture_jasiri]" placeholder="Investiture Jasiri" autofocus="autofocus" autocomplete="off">
          <span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn" style="margin: 40px 0 40px 0 !important;">
          <button type="submit" class="login100-form-btn">Add New!</button>
        </div>
      </form>

    </div>
  </div>
</div>
